@model IEnumerable<MVC_Participation3.Models.CatViewModel>

@{
    ViewData["Title"] = "Cat Images & Facts";
}

<h1>Cat Facts & Images</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card catCard" style="width: 18rem;">
                <img src="@item.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@item.Fact</p>
                </div>
            </div>

        }
    </div>
</div>