@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9ssxD2G7W7XecYKUKcmpaZ0bWbpU4g3S9A&s" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Adam's Website!</h5>
                <p class="card-text">This is for MVC Participation 2 where we are giving information about our name.</p>
            </div>
        </div>
@* 
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9ssxD2G7W7XecYKUKcmpaZ0bWbpU4g3S9A&s" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Adam's Website!</h5>
                <p class="card-text">This is for MVC Participation 2 where we are giving information about our name.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9ssxD2G7W7XecYKUKcmpaZ0bWbpU4g3S9A&s" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Adam's Website!</h5>
                <p class="card-text">This is for MVC Participation 2 where we are giving information about our name.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9ssxD2G7W7XecYKUKcmpaZ0bWbpU4g3S9A&s" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Adam's Website!</h5>
                <p class="card-text">This is for MVC Participation 2 where we are giving information about our name.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9ssxD2G7W7XecYKUKcmpaZ0bWbpU4g3S9A&s" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Adam's Website!</h5>
                <p class="card-text">This is for MVC Participation 2 where we are giving information about our name.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9ssxD2G7W7XecYKUKcmpaZ0bWbpU4g3S9A&s" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Adam's Website!</h5>
                <p class="card-text">This is for MVC Participation 2 where we are giving information about our name.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9ssxD2G7W7XecYKUKcmpaZ0bWbpU4g3S9A&s" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Adam's Website!</h5>
                <p class="card-text">This is for MVC Participation 2 where we are giving information about our name.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj9ssxD2G7W7XecYKUKcmpaZ0bWbpU4g3S9A&s" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Adam's Website!</h5>
                <p class="card-text">This is for MVC Participation 2 where we are giving information about our name.</p>
            </div>
        </div>
 *@
    </div>
</div>
